html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* El contenedor principal ocupa el 100% del viewport */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* 100vh asegura que ocupa la altura completa de la ventana */
}

/* El área de contenido se expande para empujar el footer hacia abajo */
.content-wrapper {
    flex: 1;
    margin-top: 70px; /* Espacio para el navbar fijo */
}

.custom-bg, .banner {
    background-color: #003366 !important;
    padding: 1rem;
    text-align: center;
    height: 70px;
    overflow: hidden;
}

.navbar-dark .navbar-nav .nav-link,
.banner a {
    color: #ffffff !important;
    margin: 0 1rem;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    display: inline-block;
}

.navbar-dark .navbar-nav .nav-link:hover,
.banner a:hover {
    transform: scale(1.2);
    color: #ffffff !important;
}

footer, .footer-main, .footer-main .container {
    border: none !important;
}

/* Se añade margin-top: auto para empujar el footer al final */
footer {
    margin-top: auto;
    border-top: none !important;
    z-index: 10;
    background-color: transparent !important;
}

/* Estilos para el footer principal */
.footer-main {
    background-color: #ffffff !important;
    color: #000;
    padding: 20px 0;
    border-top: none !important;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3) !important;
}

.footer-main .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-main .contact-info {
    text-align: left;
}
.footer-main .links-interes {
    text-align: center;
}
.footer-main .logo-banner {
    text-align: right;
}

.footer-main .contact-info h5 {
    color: #000000;
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-main .contact-info p {
    color: #000000;
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
}

.footer-main .links-interes h5 {
    color: #000000;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.footer-main .links-interes .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-main .links-interes .link-container a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

.footer-main .logo-banner .logo {
    max-height: 200px;
    margin-left: 20px;
}

.footer-bottom {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 0;
}
.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}

/* PÁGINA 1*/
.form-control {
    width: 50%;        /* Reduce el ancho; ajusta el porcentaje o usa un valor fijo como 300px */
    max-width: 300px;   /* Limita el ancho máximo */
}

.btn.btn-primary {
    background-color: #003366;  /* Cambia este valor al color deseado */
    border-color: black;      /* El color del borde; puedes ajustarlo o dejar el borde definido por ti */
}
