/* styles.css */

.custom-bg {
    background-color: #4d82bc !important; /* Fondo azul */
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important; /* Texto blanco para los enlaces */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107 !important; /* Color amarillo al pasar el ratón */
}

/* Para asegurarnos de que el texto en el banner sea visible */
.banner a {
    color: white !important; /* Texto blanco para los enlaces en el banner */
    margin: 0 1rem; /* Márgenes entre los enlaces */
}

.banner {
    background-color: #4d82bc !important; /* Fondo azul para el banner */
    padding: 1rem;
    text-align: center;
}
