{% extends "base.html" %}

{% block title %}SSI{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="header">
        <h1>Interfaz de calibración - Waleker ME-0324</h1>
    </div>
    <div class="form-container">
        <!-- Formulario para escribir datos -->
        <form method="post" action="{{ url_for('pagina1') }}" onsubmit="showLoader(); saveInputValue_write()">
            <div class="form-group">
                <label for="data_name_write" style="font-size: 1.2rem;">Nombre del archivo de datos a escribir:</label>
                <input type="text" class="form-control" id="data_name_write" name="data_name_write" required>
            </div>
            <div class="form-group">
                <label for="time_selected" style="font-size: 1.2rem;">Tiempo:</label>
                <select class="form-control" id="time_selected" name="time_selected" onchange="saveSelectValue_time()" style="font-size: 1.2rem;">
                    <option value="10 segundos">10 segundos</option>
                    <option value="20 segundos">20 segundos</option>
                    <option value="30 segundos">30 segundos</option>
                    <option value="60 segundos">60 segundos</option>          
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="font-size: 1.2rem; border: 1px solid #000;">Ejecutar</button>
            </div>
        </form>
        <br>
        <!-- Formulario para leer datos -->
        <form method="post" action="{{ url_for('pagina1') }}" onsubmit="showGenerateLoader(); saveInputValue();">
            <div class="form-group">
                <label for="data_name" style="font-size: 1.2rem;">Nombre del archivo de datos a leer:</label>
                <input type="text" class="form-control" id="data_name" name="data_name" required>
            </div>
            <div class="form-group">
                <label for="y_axis" style="font-size: 1.2rem;">Eje Y:</label>
                <select class="form-control" id="y_axis" name="y_axis" onchange="saveSelectValue()" style="font-size: 1.2rem;">
                    <option value="Counts">Cuentas</option>
                    <option value="Gravities">Gravedades</option>
                    <option value="Meters / s²">Metros / s²</option>
                    <option value="Centimeters / s²">Centímetros / s²</option>
                    <option value="Milimeters / s²">Milímetros / s²</option>                
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="font-size: 1.2rem; border: 1px solid #000;">Generar</button>
            </div>
        </form>
    </div>
    <!-- Loader para "Ejecutar" -->
    <div id="loader" class="loader-container" style="display: none; text-align: center;">
        <img class="loader" src="{{ url_for('static', filename='loading_bar.gif') }}" alt="Cargando...">
        <p id="loader-text">Tomando prueba de X segundos...</p>
    </div>
    <!-- Loader para "Generar" -->
    <div id="generate-loader" class="loader-container" style="display: none; text-align: center;">
        <img class="loader" src="{{ url_for('static', filename='loading_bar.gif') }}" alt="Cargando...">
        <p id="generate-text">Generando la gráfica...</p>
    </div>
    <div class="plot-container" id="plot-container">
        {% if plot_url %}
        <img src="data:image/png;base64,{{ plot_url }}" alt="Gráfica">
        {% endif %}
    </div>
    <div class="message-container" id="message-container" style="text-align: center; margin-top: 20px;">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
</div>
<script>
    var socket = io();

    // Función para mostrar el loader al hacer clic en "Ejecutar"
    function showLoader() {
        var timeSelected = document.getElementById('time_selected').value;
        document.getElementById("plot-container").style.display = "none";
        document.getElementById("message-container").style.display = "none";
        document.getElementById('loader-text').innerText = 'Tomando prueba de ' + timeSelected + '...';
        document.getElementById('loader').style.display = 'block';
    }

    // Función para mostrar el loader al hacer clic en "Generar"
    function showGenerateLoader() {
        document.getElementById("generate-loader").style.display = "block";
        document.getElementById("plot-container").style.display = "none";
        document.getElementById("message-container").style.display = "none";
        socket.emit('generate_graph', {data_name: document.getElementById('data_name').value});
    }

    // Recibir mensajes de log del servidor
    socket.on('log_message', function(msg) {
        document.getElementById("generate-text").textContent = msg;
    });

    function saveInputValue_write() {
        const data_nameWrite = document.getElementById('data_name_write').value;
        localStorage.setItem('data_name_write', data_nameWrite);
    }

    // Función para guardar el valor del archivo de datos a leer
    function saveInputValue() {
        const dataName = document.getElementById('data_name').value;
        localStorage.setItem('dataName', dataName);
    }

    // Función para guardar el valor del eje Y
    function saveSelectValue() {
        const yAxis = document.getElementById('y_axis').value;
        localStorage.setItem('yAxis', yAxis);
    }

    // Función para guardar el valor del tiempo
    function saveSelectValue_time() {
        const timeSelected = document.getElementById('time_selected').value;
        localStorage.setItem('timeSelected', timeSelected);
    }

    // Función para cargar los valores guardados
    function loadInputValue() {
        const data_nameWrite = localStorage.getItem('data_name_write');
        if (data_nameWrite){
            document.getElementById('data_name_write').value = data_nameWrite;
        }
        const dataName = localStorage.getItem('dataName');
        if (dataName) {
            document.getElementById('data_name').value = dataName;
        }
        const yAxis = localStorage.getItem('yAxis');
        if (yAxis) {
            document.getElementById('y_axis').value = yAxis;
        }
    }
    window.onload = loadInputValue;
</script>
{% endblock %}
